@charset "UTF-8";
html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gotham", Arial, sans-serif;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/GothamPro-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/GothamPro-Light.woff") format('woff');
  font-style: normal;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/GothamPro-Medium.woff") format('woff');
  font-style: normal;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
.page-header {
  position: relative;
  min-height: 1000px;
  background-color: white;
  background-image: linear-gradient(-288.8deg, transparent 50.2%, #ff4b64 50.2%), linear-gradient(191deg, #5f94ff 855px, transparent 855px), linear-gradient(-188deg, #ffca2a 980px, transparent 980px);
  background-size: 100% 980px,
                   100% 100%,
                   100% 100%;
  background-position: right top,
                       0 0,
                       0 0;
  background-repeat: no-repeat;
}
.page-header::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 20px;
  display: block;
  width: 0;
  height: 0;
  border: none;
}
@media (min-width: 400px) {
  .page-header::before {
    border-top: 8px solid transparent;
    border-right: 90px solid transparent;
    border-left: 90px solid white;
    border-bottom: 8px solid white;
  }
}
@media (min-width: 700px) {
  .page-header::before {
    border-top: 16px solid transparent;
    border-right: 160px solid transparent;
    border-left: 160px solid white;
    border-bottom: 16px solid white;
  }
}
@media (min-width: 970px) {
  .page-header::before {
    border-top: 26px solid transparent;
    border-right: 230px solid transparent;
    border-left: 230px solid white;
    border-bottom: 26px solid white;
  }
}
@media (min-width: 1200px) {
  .page-header::before {
    border-top: 35px solid transparent;
    border-right: 300px solid transparent;
    border-left: 300px solid white;
    border-bottom: 35px solid white;
  }
}
@media (min-width: 1500px) {
  .page-header::before {
    border-top: 40px solid transparent;
    border-right: 350px solid transparent;
    border-left: 350px solid white;
    border-bottom: 40px solid white;
  }
}
@media (min-width: 1650px) {
  .page-header::before {
    border-top: 45px solid transparent;
    border-right: 410px solid transparent;
    border-left: 410px solid white;
    border-bottom: 45px solid white;
  }
}
.page-header__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 1000px;
  padding-top: 50px;
}
.page-header__image {
  position: absolute;
  right: 5%;
  bottom: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  width: 256.5px;
  height: 313px;
}
@media (min-width: 960px) {
  .page-header__image {
    width: 342px;
    height: 417px;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@media (min-width: 1260px) {
  .page-header__image {
    width: 513px;
    height: 626px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@media (min-width: 1550px) {
  .page-header__image {
    right: -100px;
  }
}
@media (min-width: 1800px) {
  .page-header__image {
    right: -213px;
  }
}
.main-nav {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  z-index: 200;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: left;
  text-align: center;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.main-nav__link {
  text-decoration: none;
  min-height: 32px;
}
.main-nav__link--text {
  color: white;
  font-size: 16px;
  line-height: 32px;
  font-family: "Gotam Medium", Arial, sans-serif;
}
.main-nav__item:hover .main-nav__link--text {
  text-decoration: underline;
  cursor: pointer;
}
.main-nav__link--icon {
  display: inline-block;
  font-size: 0;
  width: 43px;
  height: 43px;
}
.main-nav__link--icon:hover svg circle:first-child {
  fill: white;
  stroke-width: 0;
}
.main-nav__link--icon:hover svg circle:nth-child(n + 2) {
  stroke: #ff4b64;
}
.main-nav__link-btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #ff4b64;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-nav__link-btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: -2px;
}
@media (min-width: 768px) {
  .main-nav {
    margin-bottom: 90px;
  }
  .main-nav__list {
    margin-left: -24px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .main-nav__item {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
}
@media (min-width: 960px) {
  .main-nav {
    margin-bottom: 105px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 269px auto;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: start;
  }
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-left: 0;
    padding-top: 8px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  .main-nav__item {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
}
@media (min-width: 1400px) {
  .main-nav {
    margin-left: 0;
    margin-right: 0;
  }
}
.promo__visual {
  display: none;
}
@media (min-width: 1260px) {
  .promo {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .promo__subscribe {
    width: 417px;
  }
  .promo__visual {
    display: block;
    position: absolute;
    left: -40px;
    top: -100px;
  }
}
@media (min-width: 1550px) {
  .promo__visual {
    display: block;
    position: absolute;
    left: -190px;
    top: -190px;
  }
  .promo__visual-image {
    width: 1111px;
    height: 943px;
  }
}
.subscribe {
  text-align: center;
}
.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-family: "Gotham Light", "Arial", sans-serif;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.04em;
}
.subscribe__title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.subscribe__title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
}
.subscribe__btn-wrapper {
  position: relative;
  text-align: center;
}
.subscribe__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #ff4b64;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  position: relative;
}
.subscribe__btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: -2px;
}
.subscribe__btn::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
}
.subscribe__remark {
  color: white;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  opacity: 0.5;
}
@media (min-width: 960px) {
  .subscribe__text {
    font-size: 45px;
    line-height: 54px;
  }
  .subscribe__title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (min-width: 1260px) {
  .subscribe {
    text-align: left;
  }
  .subscribe__text {
    margin-bottom: 0;
  }
  .subscribe__title::before {
    top: 35px;
    left: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .subscribe__btn-wrapper {
    text-align: left;
  }
  .subscribe__btn::after {
    top: 25px;
    left: auto;
    right: -70px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #5f94ff;
  }
}
.subscription__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
}
.subscription__title {
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
}
@media (max-width: 768px) {
  .subscription__title {
    font-size: 30px;
  }
}
.subscription__wrapper::before,
.subscription__wrapper::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}
.subscription__wrapper::after {
  width: 80px;
  background-color: #5f94ff;
  left: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.subscription__description {
  color: #918f89;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .subscription__description {
    font-size: 16px;
  }
}
.subscription__channel {
  position: relative;
}
.subscription__channel::before {
  content: "";
  display: block;
  width: 65%;
  height: 1px;
  background-color: #c9c6bf;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.subscription__channel::after {
  content: "";
  display: block;
  width: 10%;
  height: 10px;
  border-radius: 15px;
  background-color: #c9c6bf;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.subscription__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 100%));
  text-align: center;
  padding-left: 5px;
  padding-right: 15px;
  margin-bottom: 70px;
  margin-top: 70px;
}
.subscription__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  position: relative;
  padding-left: 35px;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.subscription__item b {
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-weight: normal;
}
.subscription__item span {
  position: relative;
}
.subscription__item span::before {
  position: absolute;
  left: -30px;
  top: 0;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon_list.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.subscription__btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #5f94ff;
  color: white;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-align: center;
}
.subscription__btn:hover {
  border: 2px solid #5f94ff;
  background-color: transparent;
  color: #5f94ff;
  margin: -2px;
}
.subscription__remark {
  color: #d7d4cd;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  margin-top: 10px;
}
@media (min-width: 960px) {
  .subscription__list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 50%));
    text-align: left;
  }
}
@media (min-width: 1260px) {
  .subscription__list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 33%));
  }
}
.trial {
  min-height: 622px;
  background-image: url("../img/bg_main.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.trial__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.trial__title {
  color: white;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
  text-align: left;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .trial__title {
    font-size: 30px;
  }
}
.trial__title span {
  font-family: "Gotham Light", "Arial", sans-serif;
  font-weight: normal;
}
.trial__side-block {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}
.trial__side-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45%;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
  display: none;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
}
.trial__description {
  color: white;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 50px;
}
.trial__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #9ecb45;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
}
.trial__btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: -2px;
}
.trial__btn-wrapper {
  position: relative;
}
.trial__btn-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 43%;
  -webkit-transform: translateX(170%);
          transform: translateX(170%);
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
}
.trial__image {
  position: absolute;
  left: 0;
  top: -30px;
  width: 160.5px;
  height: 180.5px;
}
@media (min-width: 768px) {
  .trial__image {
    width: 214px;
    height: 240.6px;
    top: -130px;
  }
  .trial__title {
    line-height: 55px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .trial__description {
    line-height: 54px;
  }
}
@media (min-width: 1260px) {
  .trial {
    min-height: 662px;
  }
  .trial__image {
    width: 321px;
    height: 361px;
    top: -200px;
  }
}
@media (min-width: 1550px) {
  .trial__side-block::before {
    display: block;
  }
  .trial__image {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1800px) {
  .trial {
    min-height: 700px;
  }
}
.channel__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 55px;
}
.channel__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 15px;
}
@media (min-width: 960px) {
  .channel__list {
    justify-content: space-between;
  }
}
.options__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}
.options__wrapper::before,
.options__wrapper::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #5f94ff;
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}
.options__wrapper::after {
  width: 80px;
  background-color: #9ecb45;
  left: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.options__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  overflow: hidden;
}
.options__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  position: relative;
  background-image: url('../img/options_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 45px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 258px;
  height: 180px;
  box-sizing: border-box;
}
.options__item::after {
  content: "";
  display: none;
  height: 28px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  border: 2px solid #9ecb45;
  border-bottom-color: transparent;
  z-index: 10;
}
.options__item::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #9ecb45;
  opacity: 0.1;
  z-index: 20;
}
.options__item:nth-child(2)::after {
  border: 2px solid #5f94ff;
  border-bottom-color: transparent;
}
.options__item:nth-child(2)::before {
  background-color: #5f94ff;
}
.options__item:nth-child(3)::after {
  border: 2px solid #ffca2a;
  border-bottom-color: transparent;
}
.options__item:nth-child(3)::before {
  background-color: #ffca2a;
}
.options__item:nth-child(4)::after {
  border: 2px solid #ff4b64;
  border-bottom-color: transparent;
}
.options__item:nth-child(4)::before {
  background-color: #ff4b64;
}
.options__item:nth-child(5)::after {
  border: 2px solid #918f89;
  border-bottom-color: transparent;
}
.options__item:nth-child(5)::before {
  background-color: #918f89;
}
.options__item:not(:first-child) {
  margin-left: -2px;
}
.options__item:hover {
  cursor: pointer;
}
.options__item:hover .options__name {
  color: black;
}
.options__item:hover::after,
.options__item:hover::before {
  display: block;
}
.options__icon {
  display: flex;
  align-items: center;
  min-height: 60px;
}
.options__title {
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
}
@media (max-width: 768px) {
  .options__title {
    font-size: 30px;
  }
}
.options__description {
  color: #918f89;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .options__description {
    font-size: 16px;
  }
}
.options__name {
  color: #c9c6bf;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .options__list {
    flex-direction: row;
  }
}
.movie {
  min-height: 1136px;
  background-image: url("../img/bg_slider.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.movie__wrapper {
  position: relative;
  padding-top: 150px;
}
.movie__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  max-width: 1740px;
  min-height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.movie__arrow-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
}
.movie__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  position: relative;
  outline: none;
}
.movie__item .movie__item-icon {
  position: absolute;
  bottom: -40px;
  right: -40px;
  display: none;
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.movie__item .movie__item-icon::before {
  position: absolute;
  content: "";
  display: block;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}
.movie__item .movie__item-icon::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 15px solid transparent;
  border-left-color: #ff4b64;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
}
.movie__item-image:hover + .movie__item-icon {
  display: block;
}
.movie__item-image {
  height: 300px;
  width: 200px;
  margin: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.movie__item-image:hover {
  cursor: pointer;
  margin: 0;
  border: 20px solid #ff4b64;
}
.movie__image {
  position: absolute;
  right: 20px;
  top: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 151.5px;
  height: 183px;
}
.movie__slider-arrow {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  z-index: 50;
}
.movie__slider-arrow::before {
  content: "";
  position: absolute;
  left: 17.5px;
  top: 21,5px;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fff;
}
.movie__slider-arrow::after {
  content: "";
  position: absolute;
  top: 12px;
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom: 11px solid white;
}
.movie__slider-arrow--left::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 21.5px;
}
.movie__slider-arrow--right::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 51px;
}
.movie__slider-arrow:hover::after,
.movie__slider-arrow:active::after {
  border-bottom: 11px solid #d4e0f8;
}
.movie__slider-arrow:hover::before,
.movie__slider-arrow:active::before {
  background-color: #d4e0f8;
}
.disabled.movie__slider-arrow,
.disabled.movie__slider-arrow:hover {
  cursor: default;
}
.disabled.movie__slider-arrow::after,
.disabled.movie__slider-arrow:hover::after {
  border-bottom: 11px solid #86adfb;
}
.disabled.movie__slider-arrow::before,
.disabled.movie__slider-arrow:hover::before {
  background-color: #86adfb;
}
@media (min-width: 960px) {
  .movie__image {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 202px;
    height: 244px;
  }
}
@media (min-width: 1550px) {
  .movie__image {
    position: absolute;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    width: 303px;
    height: 366px;
    z-index: 30;
  }
}
.watch {
  margin-top: 110px;
}
.watch__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.watch__wrapper img {
  margin-top: 20px;
}
.watch__content-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 45px;
}
.watch__content-group::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 45px;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
}
.watch__title {
  position: relative;
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.watch__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(150%, -50%);
          transform: translate(150%, -50%);
  display: block;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
}
.watch__description {
  color: #918f89;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.04em;
}
.watch__description b {
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-weight: normal;
}
.button-block__subscribe {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-block__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #9ecb45;
  color: white;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  max-width: 300px;
  font-size: 12px;
}
.button-block__btn:hover {
  border: 2px solid #9ecb45;
  background-color: transparent;
  color: #9ecb45;
  margin: -2px;
}
.button-block__remark {
  color: #d7d4cd;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
@media (min-width: 768px) {
  .button-block__btn {
    min-width: auto;
    font-size: 14px;
  }
}
.page-footer {
  min-height: 310px;
  background-image: url("../img/bg_footer.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.page-footer__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 140px;
}
.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.page-footer__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 70px;
}
.page-footer__link {
  color: #ffb4bc;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  text-decoration: none;
  line-height: 24px;
}
.page-footer__link:hover {
  color: #fff;
}
.page-footer__copyright {
  color: #ffb4bc;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}
.page-footer__image {
  position: absolute;
  left: 0;
  top: -80px;
  width: 177px;
  height: 274.5px;
}
@media (min-width: 768px) {
  .page-footer__list {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content: center;
  }
  .page-footer__item {
    padding-left: 13px;
    position: relative;
  }
  .page-footer__item::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #ffb4bc;
    border-radius: 50%;
  }
  .page-footer__image {
    top: -120px;
  }
}
@media (min-width: 960px) {
  .page-footer__image {
    position: absolute;
    left: 0;
    top: -160px;
    width: 236px;
    height: 366px;
  }
  .page-footer__item {
    padding-left: 26px;
    padding-right: 20px;
    position: relative;
  }
  .page-footer__item:not(:first-child)::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #ffb4bc;
    border-radius: 50%;
  }
}
@media (min-width: 1260px) {
  .page-footer__image {
    position: absolute;
    left: 0;
    top: -280px;
    width: 354px;
    height: 549px;
  }
  .page-footer__list {
    display: flex;
    flex-direction: row;
  }
  .page-footer__item:first-child::before {
    display: none;
  }
}
@media (min-width: 1600px) {
  .page-footer__image {
    left: -160px;
  }
}
