html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gotham", Arial, sans-serif;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/GothamPro-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/GothamPro-Light.woff") format('woff');
  font-style: normal;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/GothamPro-Medium.woff") format('woff');
  font-style: normal;
}
.page-header {
  position: relative;
  min-height: 1000px;
  background-color: white;
  background-image: linear-gradient(-288.8deg, transparent 50.2%, #ff4b64 50.2%), linear-gradient(191deg, #5f94ff 855px, transparent 855px), linear-gradient(-188deg, #ffca2a 980px, transparent 980px);
  background-size: 100% 980px,
                   100% 100%,
                   100% 100%;
  background-position: right top,
                       0 0,
                       0 0;
  background-repeat: no-repeat;
}
.page-header::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 20px;
  display: block;
  width: 0;
  height: 0;
  border: none;
}
@media (min-width: 400px) {
  .page-header::before {
    border-top: 8px solid transparent;
    border-right: 90px solid transparent;
    border-left: 90px solid white;
    border-bottom: 8px solid white;
  }
}
@media (min-width: 700px) {
  .page-header::before {
    border-top: 16px solid transparent;
    border-right: 160px solid transparent;
    border-left: 160px solid white;
    border-bottom: 16px solid white;
  }
}
@media (min-width: 970px) {
  .page-header::before {
    border-top: 26px solid transparent;
    border-right: 230px solid transparent;
    border-left: 230px solid white;
    border-bottom: 26px solid white;
  }
}
@media (min-width: 1200px) {
  .page-header::before {
    border-top: 35px solid transparent;
    border-right: 300px solid transparent;
    border-left: 300px solid white;
    border-bottom: 35px solid white;
  }
}
@media (min-width: 1500px) {
  .page-header::before {
    border-top: 40px solid transparent;
    border-right: 350px solid transparent;
    border-left: 350px solid white;
    border-bottom: 40px solid white;
  }
}
@media (min-width: 1650px) {
  .page-header::before {
    border-top: 45px solid transparent;
    border-right: 410px solid transparent;
    border-left: 410px solid white;
    border-bottom: 45px solid white;
  }
}
.page-header__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 1000px;
  padding-top: 50px;
}
.page-header__image {
  position: absolute;
  right: 5%;
  bottom: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  width: 256.5px;
  height: 313px;
}
@media (min-width: 960px) {
  .page-header__image {
    width: 342px;
    height: 417px;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@media (min-width: 1260px) {
  .page-header__image {
    width: 513px;
    height: 626px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@media (min-width: 1550px) {
  .page-header__image {
    right: -100px;
  }
}
@media (min-width: 1800px) {
  .page-header__image {
    right: -213px;
  }
}
.main-nav {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  z-index: 200;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: left;
  text-align: center;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.main-nav__link {
  text-decoration: none;
  min-height: 32px;
}
.main-nav__link--text {
  color: white;
  font-size: 16px;
  line-height: 32px;
  font-family: "Gotam Medium", Arial, sans-serif;
}
.main-nav__item:hover .main-nav__link--text {
  text-decoration: underline;
  cursor: pointer;
}
.main-nav__link--icon {
  display: inline-block;
  font-size: 0;
  width: 43px;
  height: 43px;
}
.main-nav__link--icon:hover svg circle:first-child {
  fill: white;
  stroke-width: 0;
}
.main-nav__link--icon:hover svg circle:nth-child(n + 2) {
  stroke: #ff4b64;
}
.main-nav__link-btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #ff4b64;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-nav__link-btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: -2px;
}
@media (min-width: 768px) {
  .main-nav {
    margin-bottom: 90px;
  }
  .main-nav__list {
    margin-left: -24px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .main-nav__item {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
}
@media (min-width: 960px) {
  .main-nav {
    margin-bottom: 105px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 269px auto;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: start;
  }
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-left: 0;
    padding-top: 8px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  .main-nav__item {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
}
@media (min-width: 1400px) {
  .main-nav {
    margin-left: 0;
    margin-right: 0;
  }
}
.promo__visual {
  display: none;
}
@media (min-width: 1260px) {
  .promo {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .promo__subscribe {
    width: 417px;
  }
  .promo__visual {
    display: block;
    position: absolute;
    left: -40px;
    top: -100px;
  }
}
@media (min-width: 1550px) {
  .promo__visual {
    display: block;
    position: absolute;
    left: -190px;
    top: -190px;
  }
  .promo__visual-image {
    width: 1111px;
    height: 943px;
  }
}
.subscribe {
  text-align: center;
}
.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-family: "Gotham Light", "Arial", sans-serif;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.04em;
}
.subscribe__title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.subscribe__title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
}
.subscribe__btn-wrapper {
  position: relative;
  text-align: center;
}
.subscribe__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #ff4b64;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
  position: relative;
}
.subscribe__btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: -2px;
}
.subscribe__btn::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
}
.subscribe__remark {
  color: white;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  opacity: 0.5;
}
@media (min-width: 960px) {
  .subscribe__text {
    font-size: 45px;
    line-height: 54px;
  }
  .subscribe__title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (min-width: 1260px) {
  .subscribe {
    text-align: left;
  }
  .subscribe__text {
    margin-bottom: 0;
  }
  .subscribe__title::before {
    top: 35px;
    left: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .subscribe__btn-wrapper {
    text-align: left;
  }
  .subscribe__btn::after {
    top: 25px;
    left: auto;
    right: -70px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #5f94ff;
  }
}
.subscription__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 60px;
}
.subscription__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.subscription__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.subscription__title {
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
}
@media (max-width: 768px) {
  .subscription__title {
    font-size: 30px;
  }
}
.subscription__wrapper::before,
.subscription__wrapper::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}
.subscription__wrapper::after {
  width: 80px;
  background-color: #5f94ff;
  left: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.subscription__description {
  color: #918f89;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .subscription__description {
    font-size: 16px;
  }
}
.subscription__item {
  padding-left: 35px;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.subscription__item b {
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-weight: normal;
}
.subscription__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #5f94ff;
  color: white;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
}
.subscription__remark {
  color: #d7d4cd;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.trial {
  min-height: 662px;
  background-image: url("../img/bg_main.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.trial__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.trial__title {
  color: white;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
  line-height: 55px;
}
@media (max-width: 768px) {
  .trial__title {
    font-size: 30px;
  }
}
.trial__title span {
  font-family: "Gotham Light", "Arial", sans-serif;
  font-weight: normal;
}
.trial__title::before {
  content: "";
  display: block;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
}
.trial__description {
  color: white;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.trial__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  color: #9ecb45;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
}
.trial__btn-wrapper::after {
  content: "";
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
}
.trial__image {
  position: absolute;
  left: 0;
  width: 160.5px;
  height: 180.5px;
}
@media (min-width: 960px) {
  .trial__image {
    width: 214px;
    height: 240.6px;
  }
}
@media (min-width: 1260px) {
  .trial__image {
    width: 321px;
    height: 361px;
  }
}
.channel__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.channel__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.options__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.options__wrapper::before,
.options__wrapper::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #5f94ff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.options__wrapper::after {
  width: 80px;
  background-color: #9ecb45;
  left: 50%;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}
.options__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.options__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.options__title {
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
}
@media (max-width: 768px) {
  .options__title {
    font-size: 30px;
  }
}
.options__description {
  color: #918f89;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .options__description {
    font-size: 16px;
  }
}
.options__name {
  color: #c9c6bf;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.movie {
  min-height: 1036px;
  background-image: url("../img/bg_slider.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.movie__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.movie__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.movie__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.movie__image {
  position: absolute;
  right: 0;
  width: 151.5px;
  height: 183px;
}
.movie__slider-arrow {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
}
.movie__slider-arrow::before {
  content: "";
  position: absolute;
  left: 17.5px;
  top: 21,5px;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fff;
}
.movie__slider-arrow--left::after,
.movie__slider-arrow--right::after {
  content: "";
  position: absolute;
  top: 12px;
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom: 11px solid white;
}
.movie__slider-arrow--left::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 21.5px;
}
.movie__slider-arrow--right::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 51px;
}
@media (min-width: 960px) {
  .movie__image {
    position: absolute;
    right: 0;
    width: 202px;
    height: 244px;
  }
}
@media (min-width: 1260px) {
  .movie__image {
    position: absolute;
    right: 0;
    width: 303px;
    height: 366px;
  }
}
.watch__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
}
.watch__title {
  color: black;
  font-family: "Gotham Bold", "Arial", sans-serif;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.watch__description {
  color: #918f89;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.04em;
}
.watch__description b {
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-weight: normal;
}
.watch__btn {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #9ecb45;
  color: white;
  border-radius: 40px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.2em;
}
.watch__remark {
  color: #d7d4cd;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
}
.page-footer {
  min-height: 310px;
  background-image: url("../img/bg_footer.png");
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
}
.page-footer__wrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.page-footer__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
}
.page-footer__link {
  color: #ffb4bc;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  text-decoration: none;
}
.page-footer__copyright {
  color: #ffb4bc;
  font-family: "Gotham Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: -0.04em;
  font-size: 12px;
}
.page-footer__image {
  position: absolute;
  left: 0;
  width: 177px;
  height: 274.5px;
}
@media (min-width: 960px) {
  .page-footer__image {
    position: absolute;
    left: 0;
    width: 236px;
    height: 366px;
  }
}
@media (min-width: 1260px) {
  .page-footer__image {
    position: absolute;
    left: 0;
    width: 354px;
    height: 549px;
  }
}
