.main-nav__list {
  .list-style-base();
}

.main-nav__item {
  .li-base();
}

.main-nav__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 32px;
  font-family: "Gotam Medium", Arial, sans-serif;
}


.main-nav__link--icon {
  display: inline-block;
  font-size: 0;
  width: 43px;
  height: 43px;
}

.main-nav__link--btn {
  .btn-style();
  padding-top: 5px;
  padding-bottom: 5px;
}