.page-footer {
  min-height: 310px;
  background-image: url("../img/bg_footer.png");
  background-size: cover;
  background-position: 20% 0;  
  background-repeat: no-repeat;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__list {
  .list-style-base();
}

.page-footer__item {
  .li-base();
}

.page-footer__link {
  .remark-style(@color-lightpink);
  text-decoration: none;
}

.page-footer__copyright {
  .remark-style(@color-lightpink);
  font-size: 12px;
}