.subscription__wrapper {
  .wrapper();
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
}

.subscription__title {
  .title-style();
}

.subscription__wrapper::before,
.subscription__wrapper::after {
 content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  display: block;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: @color-pink;
  transform: translateX(-170%);
}

.subscription__wrapper::after {
  width: 80px;
  background-color: @color-blue;
  left: 50%;
  transform: translateX(0%);
}

.subscription__description {
  .description-style();
}

.subscription__channel {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 65%;
    height: 1px;
    background-color: #c9c6bf;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    display: block;
    width: 10%;
    height: 10px;
    border-radius: 15px;
    background-color: #c9c6bf;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.subscription__list {
  .list-style-base();
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 100%));
  text-align: center;
  padding-left: 5px;
  padding-right: 15px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.subscription__item {
  .li-base();
  position: relative;
  padding-left: 35px;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: -0.04em;

  & b {
    font-family: "Gotham Bold", "Arial", sans-serif;
    font-weight: normal;
  }

  span {
    position: relative;
  }

  span::before {
    position: absolute;
    left: -30px;
    top: 0;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon_list.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.subscription__btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__btn {
  .btn-style(@bg-color: @color-blue, @color: white);
  
  text-align: center;
}

.subscription__remark {
  .remark-style(@color: @color-lightgray);
  margin-top: 10px;
}



@media (min-width: 768px) {

}

@media (min-width: 960px) {
  .subscription__list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 50%));
    text-align: left;
  }
}

@media (min-width: 1260px) {
  .subscription__list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 33%));
  }
}

@media (min-width: 1800px) {

}